@import 'variables';

* {
	padding: 0;
	margin: 0;
}

* {
	/*border: 1px solid red;*/
}

button {
	cursor: pointer;
}

.main_question-section {
  color: #1181b2;
	background-color: $primary_background;
	border: 10px double #00008b;
	border-radius: 10px;
	box-shadow: 8px 8px 8px gray;
  font-family: $primary_font;
	font-family: $primary_gameboard_font;
  font-size: 30px;
	padding: 1% 0%;
	text-align: center;
	text-shadow: $primary_text_shadow;
}

.p-section {
  border: 1 solid #1a2930;
	border-radius: 5px;
  color: black;
	display: flex;
	float: left;
  font-family: "Open Sans", sans-serif;
	font-family: $primary_gameboard_font;
  font-size: 18px;
	justify-content: center;
	padding-top: 5%;
	text-shadow: $primary_text_shadow;
	width: 30%;
}

.main_section {
	background: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.5)), url(../images/8bit.jpg) no-repeat center bottom;
  background-size: cover;
	height: 100vh;
	padding: 2%;
}

.main_highscores-button {
	background: url(../images/highscore_btn.png) no-repeat center;
	background-size: cover;
}

.main_reset-button {
	background: url(../images/reset_button.png) no-repeat center/50%;
}

.end_round {
	width: 210px;
	height: 50px;
	border: none;
	padding: 50px;
}

.main_end-buttons {
	display: flex;
	justify-content: space-around;
}

.answer-score {
	border-left: 2px solid #00008b;
	height: 100%;
	padding-left: 5%;
	width: 40px;
}

.answer_container {
	background: rgba(212,229,255,0.8);
	border: 5px double #00008b;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
	display: flex;
	font-family: $primary_gameboard_font;
	height: 30px;
	justify-content: space-between;
	margin: 10px auto;
	padding: 1%;
	text-shadow: $primary_text_shadow;
	width: 320px;
}

.main_answer-section {
	padding-top: 2%;
}

.answer-cover {
	background-color: #1181b2;
	h3 {
		visibility: hidden;
	}
}

.score-box {
	width: 365px;
}

.player1_score-text,
.player2_score-text {
	color: #1181b2;
	font-family: $primary_gameboard_font;
  font-size: 24px;
  font-weight: 700;
	margin-top: 3px;
	text-shadow: $primary_text_shadow;
}

.guess {
	border: 3px solid #00008b;
	border-radius: 10px;
	box-shadow: $primary_box_shadow;
	font-family: $secondary_gameboard_font;
	font-size: 17px;
	margin: 2% auto;
}

.guess_input {
	background: $primary_background;
	height: 34px;
	padding: 1%;
	width: 352px;
}

.guess_button {
	background: #97ce4c;
	color: black;
	font-family: $primary_gameboard_font;
	height: 45px;
	text-shadow: $primary_text_shadow;
	width: 365px;
}

.strike-container {
	display: flex;
}

.x {
	color: red;
	font-size: 54px;
}

.main-login-submit {
	background: #97ce4c;
	color: #ddedf4;
	font-family: $primary_font;
	font-size: 18px;
	height: 45px;
	margin: 2% auto;
	width: 365px;
}

.main_login {
	background: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.5)), url(../images/blood_dome.jpg) no-repeat center bottom;
  background-size: cover;
	font-family: $primary_font;
	font-size: 28px;
	height: 100vh;
	width: 100%;
}

.main_login-container {
	align-content: center;
	display: grid;
	justify-content: center;
}

.main_login-box {
	padding-left: 13%;
	padding-top: 8%;
}

.main_login-name {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 1%;
}

.name_input {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: $primary_box_shadow;
	font-family: $secondary_gameboard_font;
	font-size: 17px;
	height: 45px;
	margin: 2% auto;
	padding-left: 5px;
	width: 225px;
}

.main-login-submit {
	background-color: #97ce4c;
	border: 1px solid black;
	border-radius: 100%;
	box-shadow: 0px 6px 0px #28a428 , 0px 9px 25px rgba(0,0,0,.7);
	color: white;
	font-family: $primary_welcome_page_font;
	font-size: 1.5em;
	height: 140px;
	text-decoration: none;
	text-shadow: 2px 2px black;
	width: 140px;
}

.main_h1-login {
	font-family: $primary_welcome_page_font;
	font-size: 90px;
	text-align: center;
	text-shadow: 2px 2px #97ce4c;
}

.main_challanger-label {
	font-family: $secondary_gameboard_font;
	font-size: 17px;
	font-weight: 700;
}

.instructions {
	font-family: $secondary_gameboard_font;
	font-size: 15px;
	text-align: center;
	padding-top: 5%;
}

ul {
	list-style-type: none;
}

.hidden {
	display: none;
}

.flip_answer {
	animation: flip_answer 1s linear both;
}

.active_player {
	border: 4px solid #97ce4c;
	padding: 10px;
}

@keyframes flip_answer {
	0% {
		transform: scaleY(0.50) rotate3d(-1, 1, 0, 0);
		text-indent: 99999px;
  }
	25% {
		transform: scaleY(0) rotate3d(-1, 1, 0, 0);
		text-indent: 99999px;
	}
  50% {
    transform: scaleY(0.3) rotate3d(-1, 1, 0, 0);
  }
	75% {
		transform: scaleY(0.6) rotate3d(-1, 1, 0, 0);
	}
  100% {
    transform: scaleY(1) rotate3d(-1, 1, 0, 0);
  }
}

.js_money-round {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #FF0000;
}

.js_timer-box {
	font-size: 100px;
}

.js_timer-text {
	font-size: 16px;
}
