/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';

* {
	padding: 0;
	margin: 0;
}

/** {
	border: 1px solid red;
}*/

nav {
  background-color: $primary-background;
  color: white;
  height: 140px;
}

/*main {
	width: 100%;
	height: 90vh;
}*/

.main_question-section {
	width: 100%;
	height: 30vh;
	/*height: 25vh;*/
  background-color: orange;
	display: block;
}

.main_p1-section {
	width: 50%;
	height: 90vh;
	background-color: green;
	float: left;
	display: inline-block;
}

.main_p2-section {
	width: 49%;
	height: 90vh;
	background-color: pink;
	float: right;
	display: inline-block;
}



