$primary_background: lightblue;
$primary_font: 'Open Sans', sans-serif;
$primary_weight: 700;
$primary_question_font_size: 36px;
$text-color: #ffffff;
$primary_nav: orange;
$body_background_color: #EAEBEF;